.navbar {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: none;
	border-color:transparent;
	background-image:none;
	box-shadow:none;	
}

body {
    width: 100%;
}

.container {
    text-align: center;
    padding-right: 80px;
    padding-left: 80px;
    max-width: 720px;
 
}

.topBkg {
    width: 92%;
    max-width: 900px;
    margin: 55px auto 25px auto;
    color: #4C5365;
}

.card {
    padding: 20px; 
}

h1 {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 80px;
   color: #161311;
}

h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #1b161b;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #1b161b;
    font-size: 40px;
}

p {
    font-family: 'Hind Madurai', sans-serif;
}

#bkgImage {
    position: fixed; 
    width: 100%; 
    height: 100%;
    z-index: -1;
    opacity: 0.65;
    object-fit: cover;
}

.img {
    width:100%;
    max-width:720px;
}

.btn {
    padding: 5px;
    background-color: rgb(240, 191, 101);
    border-color: rgb(240, 191, 101);
    color: rgb(255, 255, 255);
    font-family: 'Hind Madurai', sans-serif;
}

.homeWrapper {
    color: black;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

#workSection {
   text-align: center;
   color: #382c36;
}

a {
    font-family: 'Hind Madurai', sans-serif;
}

.contact {
   padding-right: 30%;
   padding-left: 30%;
    color: #292228;
    background-color: rgb(240, 191, 101);
    font-size: 15px;
    line-height: 23px;

}


.footer {
    padding: 1.5rem 6rem;
    padding: 0px 0px 30px 0px;
    width: 100%;
    background-color: rgb(240, 191, 101);
    text-align: center;
    bottom: 0;
    font-size: 15px;
    letter-spacing: 1px;
    color: #ffffff;
}

a.navlink:link
{
   color: #ffffff;
   text-decoration: none;
}

a.navlink:visited
{
   color: #ffffff;
   text-decoration: none;
}